


h1 {
  color: blue;
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
}

p {
  color: black;
  margin: 15px 20px 75px 25px;

}

nav{
	text-align: center;
}
li {
  display: inline;
  padding: 100px;
  font-size: 30px;
}

img { 
    width: 20%;
    height: auto;
}

.inline {
   display: inline;
}

.center {
    text-align: center;
}